/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/presentation_CEDA_UQDA_riken_2018_02_20.ipynb
/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/review_CEDA_EM_LI_AR1.ipynb
/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/review_CEDA_EM_LI_AR1_size_T_1.ipynb
/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/review_CEDA_EM_LI_AR1_size_T_2.ipynb
/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/review_CEDA_EM_LI_L96.ipynb
/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/review_CEDA_presentation_problem_AR1.ipynb
/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/test_CEDA_ETKS.ipynb
/home/ptandeo/Dropbox/Documents/Codes/Python/CEDA/tmp.ipynb
